<ion-view view-title="Bookings">
  <ion-content>

    <div class="bar bar-header bar-balanced">
      <h1 class="title">Your booking is confirmed!</h1>

    </div>


    <div class="bar bar-subheader">
      <h3> Your hairdresser </h3>

      <div class="item item-avatar">
        <img src="{{hairdresser.photo}}">
        <h2>{{hairdresser.first_name}} {{hairdresser.last_name}}</h2>
        <p>
          jean.pierre@polytechnique.edu
        </p>
        <p>
          06 15 67 83 94
        </p>
      </div>

      <h3> Your booking: </h3>
      <div class="item item-body">
        <p>
          Coupe Homme
        </p>
        <p>
        10€
        </p>
        <p>
          8 Decembre 2015
        </p>
        <p>
          9:30 am
        </p>
      </div>




      </div>
    </div>




  </ion-content>
</ion-view>
