<ion-view view-title="hairdresser">
  <ion-content>
    <div class="list card">
      <div class="item">
        <p>{{hairdresser}}</p>
        <h3>{{hairdresser.first_name}}</h3>
        <h2>{{hairdresser.last_name}}</h2>
      </div>
      <div class="item item-body">
        <p>{{hairdresser.description}}</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
