<ion-view view-title="Hairdresser">
  <ion-content>

    <div class="list card">

      <div class="item item-avatar">
        <img src="{{hairdresser.photo}}">
        <h2>{{hairdresser.first_name}} {{hairdresser.last_name}}</h2>
        <p>{{hairdresser.description}}</p>
      </div>

      <div class="item item-body">
        <p>
          {{hairdresser.full_description}}
          Here is the list of the services I propose:
        </p>

        <div class="list">

          <a class="item item-icon-left item-icon-right" href="#/app/hairdressers/{{hairdresser.id}}/services/{{service.id}}" ng-repeat="service in services">
            <i class="icon ion-scissors"></i>
            {{service.name}} pour pas cher: {{service.price}} euros
            <button class="button icon-left ion-android-checkmark-circle">Book</button>
          </a>
        </div>

      </div>
    </div>


  </ion-content>
</ion-view>
