<ion-view view-title="Available Slots">
  <ion-content>

    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="http://alliance.columbia.edu/files/newalliance/styles/large/public/person/bruno-300x275.jpg?itok=T7_7Y1Dy">
        <h2>Coupe Homme</h2>
        <p>10€</p>

        <!--<img src="{{service.photo}}">-->
        <!--<h2>{{service.name}}</h2>-->
        <!--<p>{{service.price}}€</p>-->

      </div>

    </div>

    <div class="item item-body">

     <h2>Choose your time schedule</h2>

    </div>

    <div class="button-bar">
      <a class="button button-royal">  8:00 am</a>
      <a class="button button-royal">8:30 am</a>
      <a class="button button-royal">9:00 am</a>
    </div>

    <div class="button-bar">
      <a class="button button-royal">9:30 am</a>
      <a class="button button-royal">10:00 am</a>
      <a class="button button-royal">10:30 am</a>
    </div>

    <div class="button-bar">
      <a class="button button-royal">14:00 am</a>
      <a class="button button-royal">14:30 am</a>
      <a class="button button-royal">15:00 am</a>
    </div>

    <div class="button-bar">
      <a class="button button-royal">15:30 am</a>
      <a class="button button-royal">16:00 am</a>
      <a class="button button-royal">16:30 am</a>
    </div>




  </ion-content>
</ion-view>
