<ion-view view-title="Available Slots">
  <ion-content>

    <div class="list card">
      <div class="item item-avatar">
        <img src="{{service.photo}}">
        <h2>{{service.name}}</h2>
        <p>{{service.price}}€</p>
      </div>

      <div class="item item-body">

        BOOK HERE

      </div>
    </div>


    <button class="button button-block button-royal">
      14h30 pm
    </button>
    <button class="button button-block button-royal">
      15:00 pm
    </button>


    <div class="button-bar">
      <a class="button button-royal">  8:00 am</a>
      <a class="button button-royal">8:30 am</a>
      <a class="button button-royal">9:00 am</a>
      <a class="button button-royal">9:30 am</a>
    </div>



  </ion-content>
</ion-view>
